
<main>
  <section>
    <section id="product-management">
      <div id="product-list-container">
        <h3>Productos</h3>
        <ul id="products-list"></ul>
        <button id="btn-refresh-products-list">Recargar Lista de Productos</button>
        <a href="/realTimeProducts" id="real-time-products-link">Ver Productos en Tiempo Real</a>
      </div>
    </section>
  </section>
  <div id="message-container"></div>
</main>
<script src="/js/products.js"></script>

